html,
body {
  padding: 0;
  margin: 0;
}
#app {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
/* #app {
  width: 500px !important;
  height: 500px !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
} */
